<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw400">Controle Financeiro</ion-text>
          </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="logout()">
          <ion-icon class="icon-add" name="exit"></ion-icon>
         
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <img src="assets/img/avatar.jpg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        
      </ion-text>
      
      <ion-button icon-left size="small" shape="round" color="dark">
        <ion-icon name="contact"></ion-icon>
        {{usuario}}
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Sair
      </ion-button>
    </ion-label>
  </ion-item>


  <ion-content padding>
   
 
    <ion-list>
        <ion-item-sliding *ngFor="let dado of lista">  
            <ion-item  *ngIf="dado.tipo!='Entrada'">
              <ion-avatar slot="start">
                  <img src="../assets/img/saida.png">
              </ion-avatar>
              <ion-label>
                <h2 class="red">{{dado.tipo}}</h2>
                <h3><span class="red">R${{dado.valor}}</span> - {{dado.movimento}}  - {{dado.data2}}</h3>
              
              </ion-label>
            </ion-item>

            <ion-item  *ngIf="dado.tipo=='Entrada'">
                <ion-avatar slot="start">
                    <img src="../assets/img/entrada.png">
                </ion-avatar>
                <ion-label>
                  <h2 class="green">{{dado.tipo}}</h2>
                  <h3><span class="green">R${{dado.valor}}</span> - {{dado.movimento}}  - {{dado.data2}}</h3>
                
                </ion-label>
              </ion-item>

        </ion-item-sliding>
      </ion-list>
    
  </ion-content>

  
</ion-content>